[outcoling]
exten=>_XXXXXXXXXXXX,1,Dial(SIP/zadarma/${EXTEN}) ;Trunk
exten=>_XXXX,1,Dial(SIP/${EXTEN},,t&m,) ;"m"-for sound on dial tone, "t"- for call redirecting

[incoming]
exten=>_X.,1,Dial(SIP/1001&SIP/1002,60,m,tT) 


